[package]
name = "{{ project_name | rust_module_name }}"
version = "0.1.0"
edition = "2021"
authors = ["{{ author_name }}"]
description = "{{ description }}"

[workspace]

[[bin]]
name = "{{ project_name | rust_module_name }}"
path = "src/main.rs"

[dependencies]
{% if feature_cli -%}
clap = { version = "4.4", features = ["derive"] }
{% endif -%}

[dev-dependencies]
{% if feature_tests -%}
tokio-test = "0.4"
{% endif -%}